body {
    margin:0;
    padding: 0;
    background-color: #FFFCFB;
}

html {
    margin: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif ;
}

/*logo y barra de navegación*/ 
.header{
    background-color: #F8765E;
    display: flex;
}

.logo {
    background-color: #F8765E;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    background-color: #F8765E;
    float: right;
}

li {
    display: inline-block;
    padding: 20px;
    background-color: #F8765E;
    font-size: 16px;
    color: #ffffff
}


/*section 1*/ 

.section1 {
    background-color: #F8765E;
}

h1 {
    margin-left: 8%;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    width: 40%;
}

.hero-text {
    margin-left: 8%;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    width: 40%;
}

.mockup-image {
    float: right;
}

.subscribe-action {
    margin-left: 8%;
}


/*section2*/

.caja {
    background-color: white;
    width: 80%;
    border-radius: 1em;
    box-shadow: 4px 6px 24px -4px rgba(130,130,130,1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* generar border caja: https://www.cssmatic.com/box-shadow*/

.cajas-interiores{
    width: 33%;
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.caja-imagen {
    text-align: center;
}

.title-subrayado {
    border-bottom: 3px solid #F8765E;
    width: 30%;
    padding-top: 10px;
}

.text-caja {
    line-height: 32px;
    color: #5B6C94;
    font-size: 16px;
}


/*section3*/

.caja2 {
    width: 80%;
    border-radius: 1em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

h2 {
    color: #F8765E;
    font-size: 48px;
}

h3 {
    color: #031D5B;
    font-size: 34px;
}

.caja2-arbol {
    text-align: right;
    width: 50%;
    padding: 10px;
    margin: 5px;
}


/*section4*/




/*section5*/

.caja3 {
    text-align: center;
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.caja3-h4 {
    color: #CDCDCD;
    font-size: 34px
}

