body {
    margin:0;
    padding: 0;
    background-color: #FFFCFB;
}

html {
    margin: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif ;
}

/*botones y placeholder*/

input {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 20px;
}

button {
    background-color: red;   
}


/*logo y barra de navegación*/ 
.header{
    background-color: #F8765E;
    display: flex;
}

.logo {
    margin-left: 8%;
    background-color: #F8765E;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8765E;
}

li {
    display: inline-block;
    float: right;
    padding: 20px;
    background-color: #F8765E;
    font-size: 16px;
    color: #ffffff
}


/*section 1*/ 

.section1 {
    background-color: #F8765E;
}

h1 {
    margin-left: 8%;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    width: 40%;
}

.hero-text {
    margin-left: 8%;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    width: 40%;
}

.mockup-image {
    float: right;
}

.subscribe-action {
    margin-left: 8%;
}


/*section2*/

.caja {
    background-color: white;
    width: 80%;
    border-radius: 1em;
    box-shadow: 4px 6px 24px -4px rgba(130,130,130,1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* generar border caja: https://www.cssmatic.com/box-shadow*/

.cajas-interiores{
    width: 33%;
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.caja-imagen {
    text-align: center;
}

.title-subrayado {
    border-bottom: 3px solid #F8765E;
    width: 30%;
    padding-top: 10px;
}

.text-caja {
    line-height: 32px;
    color: #5B6C94;
    font-size: 16px;
}


/*section3*/

.caja2 {
    padding-top: 50px;
    width: 80%;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

h2 {
    color: #F8765E;
    font-size: 48px;
}

h3 {
    color: #031D5B;
    font-size: 34px;
}

.caja2-arbol2 {
    text-align: right;
    width: 70%;
    padding: 10px;
    margin: 5px;
}

.arbol {
    width: 80%;
}


/*section4*/

.boxgeneral {
    padding-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
}

.positionBox{
    position: relative;
}
.box{
    position: absolute;
}
.box1 {
    width: 80%;

}
.capa1 {
    z-index: 1;
}

.capa2{
    z-index: 2;
}
.box2 {
    width: 70%;
    top: 0px;
    right: 0px;
    height: 500px;
    background-color:#F8765E;
    border-radius: 20px 0px 0px 20px;
}


.hola {
    position: absolute;
    height: 50px;
    width: 20%;
    top: 230px;;
}

.hola1{
    left: 20%;
    background-color: #9BDBE7;
    border-radius: 20px;
}

.hola2{
    left: 60%;
    background-color: white;
    border-radius: 20px;
}


/*section5*/

.caja3 {
    text-align: center;
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.caja3-h4 {
    color: #CDCDCD;
    font-size: 34px
}

/*section6*/

.caja4 {
    text-align: center; 
    background-color: #F8765E;
    color: white;
}

.lista4 {
    text-align: center; 
}

